* {
    margin: 0;
    padding:0; 
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}

.header {
    background-color: #6c459e;
    color: #e2cbfe;
    text-align: center;
}

.h1 {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 600;
}

.body {
    text-align: center;
    justify-content: center;
    background-color: #f3f2f7;
    height: 100vh;
}

form {
    padding-top: 50px;
    font-size: 25px;
}

input {
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 25px;
}

button {
    padding: 10px 20px;
    background-color: #6c459e;
    color: #e2cbfe;
    border-radius: 5px;
}

.message {
    font-size: 25px;
    font-weight: 600;
}

.result{
    font-size: 25px;
    font-weight: 600;
}

.confidence{
    font-size: 25px;
    font-weight: 600;
}